<!DOCTYPE html>
<html lang="en">
    <head>
    
        <meta charset="utf-8">
        <title>{{ pool_name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css">
          body {
            padding-top: 60px;
            padding-bottom: 40px;
          }
          .sidebar-nav {
            padding: 9px 0;
          }
        </style>
    
    </head>
    
    <body>
    
        <!-- NAVBAR -->
        <!-- TODO: refactor navbar into its own template so it can be shared across pages. -->
        <div class="navbar navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container-fluid">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a href="#"><i class="icon-chevron-left pull-left"></i></a> <!-- TODO: fix alignment -->
              <a class="brand" href="#">{{ pool_name }}</a>
              <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                  <a href="{{ loginout_url }}" class="navbar-link">{{ login_button }}</a>
                </p>
                <ul class="nav">
                  <li class="active"><a href="#"><i class="icon-home"></i> Home</a></li>
                  <li><a href="#about"><i class="icon-wrench"></i> Settings</a></li>
                  <li><a href="/admin">Admin</a></li> <!-- TODO: check permissions before showing this. -->
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
    
        <!-- Main Fluid Container -->
        <div class="container-fluid">
            <div class="row-fluid">
            
                <!-- Sidebar -->
                <!-- TODO: consider hiding on desktop? -->
                <div class="span3">
                
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Things</li>
                            <!-- TODO: this link should transition to a login page if the config option is set in config.py. -->
                            <li class="active"><a href="#search">Find a Thing</a></li> 
                            {% if login_button != 'Login' %}
                                <li><a href="#">Checked-Out Things<span class="badge pull-right">12</span></a></li>
                                <li><a href="/add_thing">Add a New Thing</a></li>
                            {% endif %}
                            <li class="nav-header">{{ username }}</li>
                            <li><a href="#">Profile</a></li>
                        </ul>
                    </div>
                
                </div> <!-- /Sidebar -->
                
                <!-- Find a Thing -->
                <div class="span3" id="search">
                
                    <h2>Find a Thing</h2>
                    
                    <ul class="nav nav-tabs nav-stacked">
                        <!-- FIXME: how in the hell does one put a search bar inside a nav-stacked? -->
                        <li class="nav-header">All Things</li>
                        <li>
                            <form class="form-search pull-left">
                                <div class="input-append">
                                    <input type="text" class="input-medium search-query" placeholder="Search by description..."></input>                            
                                    <button type="submit" class="btn"><i class="icon-search"></i></button>
                                </div>
                            </form>
                        </li>
                        <li class="nav-header">Things By Category</li>
                        <li><a href="#">Electronics</a></li>
                        <li><a href="#">Books</a></li>
                    </ul>
                
                </div> <!-- /Find a Thing -->
                
                <div class="span3" id="checked_out_things">
                
                    <h2>Checked-Out Things</h2>
                    <p>
                        <!-- TODO: make this conditional. -->
                        You have nothing checked out. Good for you!
                    </p>
                
                </div>
            
            </div>
        </div>
    
        <!-- TODO: convert MESSAGES -->
        {% if show_requested %}
        <div class="ui-body ui-body-e">
            <p>
                A request for a {{ pool_name }} account has been placed.
                Once your request has been approved, you will be able
                to use {{ pool_name }}.
            </p>
        </div>
        {% endif %}
        
        {% if login_failed %}
        <div class="ui-body ui-body-e">
            <p>{{ login_failure_reason }}</p>
        </div>
        {% endif %}
    
        
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
