<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{ pool_name }} Admin Console
        </title>
        
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
          body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
          }
        </style>
        
        <script type="text/javascript">
            function resolve(id, resolution) {
                console.log(id);
                $("#user_id").val(id);
                $("#request_resolution").val(resolution);
                
                $("#pending_requests").submit();
                return false;
            };
            
            function populate_modify_fields(id, user_name, user_email, user_permissions, user_keycard) {
                console.log(id);
                
                // Ensure that the well containing the modify user form is visible.
                $('#modify_user_well').toggle(true);
                
                // Populate the legend.
                $('#modify_username').text(user_name);
                $('#modify_email').text(user_email);
                
                // Populate each form field.
                document.getElementById('user_name').value = user_name;
                document.getElementById('user_email').value = user_email;
                document.getElementById('modify_id').value = id;
                document.getElementById('modify_keycard').value = user_keycard;
                
                switch(user_permissions) {
                    case -1: // User is banned
                        $('#btn_perm_banned').button('toggle');
                        document.getElementById('modify_permissions').value = -1;
                        break;
                    case 2: // User is a regular user
                        $('#btn_perm_user').button('toggle');
                        document.getElementById('modify_permissions').value = 2;
                        break;
                    case 3: // User is actually a kiosk account
                        $('#btn_perm_kiosk').button('toggle');
                        document.getElementById('modify_permissions').value = 3;
                        break;
                    case 4: // User is a manager
                        $('#btn_perm_manager').button('toggle');
                        document.getElementById('modify_permissions').value = 4;
                        break;
                }
                
                return false;
            };
            
            function submit_modify_user() {
                //console.log(id);
                var user_id = document.getElementById('modify_id').value;
                var user_permissions = 2;
                var user_keycard = document.getElementById('modify_keycard').value;
                /*
                if (document.getElementById('radio_banned').checked == true) {
                    user_permissions = -1;
                }
                else if (document.getElementById('radio_user').checked == true) {
                    user_permissions = 2;
                }
                else if (document.getElementById('radio_kiosk').checked == true) {
                    user_permissions = 3;
                }
                else if (document.getElementById('radio_manager').checked == true) {
                    user_permissions = 4;
                }*/
                
                user_permissions = document.getElementById('modify_permissions').value;
                
                console.log(user_id);
                console.log(user_permissions);
                console.log(user_keycard);
                
                $.post(
                    "{{ uri_for('api_users_list') }}/" + user_id, // POST target of /api/users/{id}
                    
                    { permissions: user_permissions } // data to send to server
                    
                )
            };
            
            function modify_permission_banned() {
                document.getElementById('modify_permissions').value = -1;
            };
            
            function modify_permission_user() {
                document.getElementById('modify_permissions').value = 2;
            };
            
            function modify_permission_kiosk() {
                document.getElementById('modify_permissions').value = 3;
            };
            
            function modify_permission_manager() {
                document.getElementById('modify_permissions').value = 4;
            };
        </script>
    </head>
    
    <body>
    
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">{{ pool_name }}</a>
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="#">Admin Console</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="container">        
        
            <div class="row">
        
                <div class="span3">
                    
                    <ul class="nav nav-tabs nav-stacked">
                        <li><a href="#pending"><i class="icon-chevron-right pull-right"></i>Pending Requests <span class="badge badge-important pull-right">1</span></a></li> <!-- TODO: make this badge accurate and hide it if no pending requests. -->
                        <li><a href="#modify"><i class="icon-chevron-right pull-right"></i>Modify User</a></li>
                    </ul>
                
                </div>
        
                <div class="span9">
    
                {% if not message is none %}
                    <div class="alert alert-info">
                         <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ message }}
                    </div>
                {% endif %}
            
                    <h2 id="pending">Pending Requests</h2>
                    <form id="pending_requests" action="{{ uri_for('admin_main') }}" method="post">
                        <input type="hidden" name="action" id="action" value="handle_account_request"></input>
                        <input type="hidden" name="user_id" id="user_id" value="None"></input>
                        <input type="hidden" name="request_resolution" id="request_resolution" value="None"></input>
                        <ul class="unstyled">  
                            {% for pending_user in pending_requests %}
                                <li>
                                    <div class="row">
                                        <div class="span4">{{ pending_user.user_account.nickname() }} &lt;{{ pending_user.user_account.email() }}&gt;</div>
                                        <div class="span2"><button class="btn btn-success" onclick="resolve({{ pending_user.key().id() }}, 'approve');">
                                            <i class="icon-ok"></i>
                                            Approve
                                        </button></div>
                                        <div class="span2"><button class="btn btn-danger" onclick="resolve({{ pending_user.key().id() }}, 'deny');">
                                            <i class="icon-remove"></i>
                                            Deny
                                        </button></div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </form>
                    
                    <h2>Modify User</h2>
                    
                    <form class="form-search">
                        <div class="input-append">
                            <input type="text" class="input-medium search-query" placeholder="Search for users...">
                            <button type="submit" class="btn"><i class="icon-search"></i></button>
                        </div>
                    </form>
                    
                    <!-- TODO: replace with the above searchbox. -->
                    <ul class="unstyled">
                        {% for user in all_users %}
                            <li>
                                {{ user.user_account.nickname() }} &lt;{{ user.user_account.email() }}&gt;
                                <!-- TODO: replace populate_modify_fields call with an API call. -->
                                <a href="#" onclick="populate_modify_fields( {{ user.key().id() }},
                                                                            '{{ user.user_account.nickname() }}',
                                                                            '{{ user.user_account.email() }}',
                                                                            {{ user.permissions }},
                                                                            '{{ user.keycard }}' );">Modify</a>
                            </li>
                        {% endfor %}
                    </ul>
                    
                    <div class="well" id="modify_user_well" style="display: none">
                        <form id="modify_user" action="#">
                            <input type="hidden" name="modify_permissions" id="modify_permissions" value="None">
                            <input type="hidden" name="modify_id" id="modify_id" value="None">
                            <input type="hidden" name="modify_keycard" id="modify_keycard" value="None">
                        
                            <fieldset>
                                <!-- TODO: make these editable in-place. -->
                                <!-- TODO: fix alignment of edit buttons. -->
                                <legend><span id="modify_username"></span><a href="#"><i class="icon-edit"></i></a>&nbsp;<small id="modify_email"></small><a href="#"><i class="icon-edit"></i></a></legend>
                        
                                <div class="row">
                                
                                    <!-- TODO: something is wrong with the spans here. -->
                                    <div class="span1"><label for="user_name">Name</label></div>
                                    <div class="span3"><input type="text" name="user_name" id="user_name" value="Name" disabled="true"></div>
                                    <div class="span1"><label for="user_email">Email</label></div>
                                    <div class="span3"><input type="text" name="user_email" id="user_email" value="Email" disabled="true"></div>
                                    <div class="span1"><label for="user_keycard">Keycard</label></div>
                                    <div class="span2"><input type="text" name="user_keycard" id="user_keycard"></div>
                                    
                                </div>
                                
                                <div class="row">
                                
                                    <div class="span2">
                                        User permissions:
                                    </div>
                                    
                                    <div class="span6">
                                        <div class="btn-group" data-toggle="buttons-radio">
                                            <!-- TODO: Visually have corresponding button pressed when user info is loaded -->
                                            <!-- TODO: populate the list of roles from the server. -->
                                            <button id="btn_perm_banned"  type="button" class="btn" onclick="modify_permission_banned();">Banned</button>
                                            <button id="btn_perm_user"    type="button" class="btn" onclick="modify_permission_user();">User</button>
                                            <button id="btn_perm_kiosk"   type="button" class="btn" onclick="modify_permission_kiosk();">Kiosk</button>
                                            <button id="btn_perm_manager" type="button" class="btn" onclick="modify_permission_manager();">Manager</button>
                                        </div>
                                    </div>
                                    
                                    <!-- TODO: Add some sort of confirmation message when this button is clicked and refresh page -->
                                    <div class="span2">
                                        <button type="button" class="btn btn-primary btn-large" onclick="submit_modify_user( );">Submit</button>
                                    </div>
                                
                                </div>
                            
                            </fieldset>
                            
                        </form>
                    </div>
                 
                </div>
        
            </div>
        
        </div>
        
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
